@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  
  /* Customized Premium Color Palette Overrides */
  --color-indigo-50: #f5f3ff;
  --color-indigo-100: #ede9fe;
  --color-indigo-500: #8b5cf6;
  --color-indigo-600: #7c3aed;
  --color-indigo-700: #6d28d9;
  --color-indigo-900: #4c1d95;
}

@layer base {
  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
